$actionColor: black;
$borderColor: #FF865E;
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
h1 {
  font-family: "Courier New", Courier, monospace;
}
a {
  color: $actionColor;
}
#logIn {
  background-color: $actionColor;
  color: #FEF9EF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-right: 5px;
  height: 35px;
  width: 80px;
  border-radius: 10px;
}
.titleMenu {
  margin-top: 10px;
  width: 33.333vw;
}
#logInDiv {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
#titleDiv {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.titleFont {
  color: $actionColor;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: large;
  letter-spacing: 2px;
}
.textRight {
  text-align: right;
}
.menu {
  background-color: $borderColor;
}
.navBar {
  background-color: $borderColor;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 10px;
}
a { text-decoration: none; }